{% extends 'app/base.html' %}
{% load static %}
{% block title %}Empty Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h1 class="text-center mb-5">You have no product in cart</h1>
        <div class="text-center">
             <img src="https://img.freepik.com/premium-vector/shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.jpg" 
             alt="" class="img-fluid img-thumbnail w-25">
        </div>
        <h1 class="text-center mb-5">Continue Shoping</h1>
    </div>
</div>
{% endblock main-content %}
