{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password successfully{% endblock title %}
{% block main-content %}
<div class="'container">
    <div class="row my-3">
        <div class="col sm-6 offset-sm-3">
            <h3 class="alert-heading">Well Done</h3>
            <p>An Email has been sent with instruction to reset your password. <b>Check youre Email</b></p>
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title">Welcome, {{ user.username }}!</h3>
                    <p class="card-text">Your password has been changed successfully.</p>
                    <img src="https://media.tenor.com/BntXpMlrGuEAAAAC/check-correct.gif" alt="Success" class="img-fluid">
                    <a href="{% url 'profile' %}" class="btn btn-primary mt-3">Back to Profile</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock main-content %}